*{
    margin: 0;
}
.a3{
    width: 100%;
    height: 700px;
    margin-top: -50px;
}
.a2{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}
.a4 {
    position: absolute;
    display: flex;
    gap: 70px;
    margin-top: -625px;
    margin-left: 280px;
}
.a4 p{
color: white;
font-size: 20px;
}
.a6{
    position: absolute;
    margin-top: -620px;
    margin-left: 1050px;
}
.a7{
  position: absolute;
    margin-top: -620px;
    margin-left: 1290px;
}
.a8{
    font-size: 45px;
    position: absolute;
    font-weight: bold;
    margin-top: -430px;
    color: white;
    margin-left: 100px;
}
.a9{
    position: absolute;
    margin-top: -320px;
    margin-left: 100px;
    color: gray;
    font-size: 25px;
}
.s1{
    background-color: #0E9E2F;
    border: #0E9E2F;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: white;
    position: absolute;
    margin-top: -150px;
    margin-left: 100px;
}
.s2{
    position: absolute;
    margin-top: -150px;
    margin-left: 1400px;
}
.s3{
    width: 100%;
    height: 1400px;
    background-color: #686868;
    margin-top: -10px;
}
.s4{
    color: white;
    font-size: 35px;padding-top: 50px;
    margin-left: 50px;
}
.s5{
    color: #a4a0a0;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
}
.s6{
    background-color: #535353;
    width: 350px;
    height: 350px;
      border-top-right-radius: 50px;
}
.s7{
    position: absolute;
    width: 200px;
    margin-left: 70px;
    margin-top: 10px;
}
.s8{
    font-size: 30px;
    color: rgb(205, 204, 204);
    padding-top: 150px;
    margin-left: 10px;
}
.d1{
    color:  rgb(205, 204, 204);
    margin-left: 10px;
    margin-top: 10px;
 
}
.d2{
    width: 150px;
    height: 40px;
    background-color: #0E9E2F;
    border: #0E9E2F;
    color: white;
    margin-top: 40px;
}
.d3{
    background-color: #535353;
    width: 350px;
    height: 350px;
      border-top-right-radius: 50px; 
     
}
.d4{
     background-color: #535353;
    width: 350px;
    height: 350px;
      border-top-right-radius: 50px;
}
.d5{
    display: flex;
    gap: 50px;
    margin-left: 150px;
    margin-top: 50px;
}
.d6{
margin-left: 100px;
}
.d7{
 display: flex;
    gap: 50px;
    margin-left: 150px;
    margin-top: 50px;
}
.d8{
     position: absolute;
    width: 200px;
    margin-left: 70px;
    margin-top: 10px;
}
.d7{
    font-size: 35px;
    margin-left: 590px;
    font-weight: bold;
}
.d8{
    font-size: 25px;
    color: #0E9E2F;
    margin-top: 80px;
    margin-left: 180px;
}
.d9{
margin-top: 150px;
color: gray;
margin-left: 180px;
font-size: 20px;
}
.text{
  margin-top: 20px;
color: gray;
margin-left: 180px;  
font-size: 20px;
}
.text1{
    width: 700px;
    margin-left: 650px;
    margin-top: -250px;
    position: absolute;
}
.text2{
    width: 380px;
    margin-top: 150px;
    margin-left: 180px;
    position: absolute;
    
}
.text3{
    position: absolute;
   width: 380px;
    margin-top: 150px;
    margin-left: 580px;  
}
.text4{
    position: absolute;
    width: 380px;
    margin-top: 150px;
    margin-left: 980px; 
}

.mb{
    margin-bottom: 400px;
}
.text5{
    width: 98%;
   
}
.text6 {
font-size: 50px;
margin-top: -640px;
position: absolute;
font-weight: bold;
margin-left: 100px;
color: white;
}
.text7{
    margin-top: 480px;
    margin-left: -1380px;
  position: absolute;
 
}
.text8{
    color: #0E9E2F;
    font-size: 25px;
    position: absolute;
    margin-top: -310px;
    margin-left: 170px;
}
.text9{
    font-size: 20px;
    margin-top: -250px;
    color: gray;
    margin-left: 120px;
}
.div{
    width: 550px;
    height: 600px;
    margin-left: 800px;
    margin-top: -470px;
}
.div1{
  margin-top: -550px;  
  margin-left: 850px;
  font-size: 30px;
  color: white;
}
.div2{
margin-left: 850px;
margin-top: 10px;
color: #b4b2b2;
}
.div3{
    position: absolute;
    margin-top: 50px;  
  margin-left: 850px;
  font-size: 30px;
  color: white;
}
.div4{
    margin-left: 850px;
    margin-top: 100px;
color: #b4b2b2;
}
.div5{
   position: absolute;
    margin-top: 50px;  
  margin-left: 850px;
  font-size: 30px;
  color: white; 
}
.div6{
    margin-left: 850px;
    margin-top: 120px;
color: #b4b2b2; 
}
.div7{
    margin-top: 300px;
    font-size: 35px;
    margin-left: 40px;
}
.div8{
    margin-left: 990px;
    margin-top: -100px;
}
.div9{
    width: 1200px;
    margin-left: 150px;
    margin-top: 50px;

}
.box{
    width: 100%;
    margin-top: 100px;
}
.box1{
    /* position: absolute; */
    text-align: center;
    margin-top: -220px;
    color: white;
    font-size: 35px;
}
.box2{
    color: white;
    text-align: center;
    font-size: 25px;
}
.box3{
    width: 200px;
    height: 35px;
    margin-left: 660px;
    margin-top: 40px;
    background-color: #0E9E2F;
    border: #0E9E2F;
    color: white;
}
.box4{
    margin-top: 100px;
    font-size: 30px;
    margin-left: 50px;
}
.box5{
    position: absolute;
    margin-left: 1200px;
    margin-top: -50px;
}
.box6{
    margin-top: 30px;
}
.box7{
    background-color: #F6F6F7;
    width: 400px;
    height: 350px;
    margin-left: 50px;
}
.box9{
margin-top: 30px;
}
.box8{
    font-size: 30px;
    padding-top: 20px;
    margin-left: 20px;
}
.xob{
    color: #0E9E2F;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}
.xob1{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
}
.xob2{
    color: #0E9E2F;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
}
.xob3{
    margin-left: 300px;
    margin-top: -25px;
    position: absolute;
    width: 50px;
}
.xob4{
background-color: #F6F6F7;
    width: 400px;
    height: 350px;
    margin-left: 500px;
    margin-top: -350px;
}
.xob5{
    background-color: #F6F6F7;
    width: 400px;
    height: 350px;
    margin-left: 990px;
    margin-top: -350px;
}
.xob6{
    background-color: #F6F6F7;
    width: 400px;
    height: 350px;
    margin-top: 70px;
}
.xob7{
    font-size: 30px;
}
.xob8{
    color: #0E9E2F;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 280px;
}
.xob9{
    display: flex;
    gap: 800px;
    margin-left: 50px;
    margin-top: 100px;
}
.sim{
    width: 400px;
}
.sim1{
    font-size: 25px;
    margin-top: 10px;
}
.sim2{
    margin-top: 10px;
    font-size: 20px;
    color: #535353;
}
.sim3{
    color: #0E9E2F;
    font-size: 20px;
    margin-top: 30px;
}
.sim4{
display: flex;
margin-top: 50px;
margin-left: 50px;
gap: 100px;
}