*{
    margin: 0;
}
.a3{
    width: 100%;
    height: 700px;
    margin-top: -50px;
}
.a2{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}
.a4 {
    position: absolute;
    display: flex;
    gap: 70px;
    margin-top: -625px;
    margin-left: 280px;
}
.a4 p{
color: white;
font-size: 20px;
}
.a6{
    position: absolute;
    margin-top: -620px;
    margin-left: 1050px;
}
.a7{
  position: absolute;
    margin-top: -620px;
    margin-left: 1290px;
}
.a8{
    font-size: 45px;
    position: absolute;
    font-weight: bold;
    margin-top: -430px;
    color: white;
    margin-left: 100px;
}
.a9{
    position: absolute;
    margin-top: -320px;
    margin-left: 100px;
    color: gray;
    font-size: 25px;
}
.s1{
    background-color: #0E9E2F;
    border: #0E9E2F;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: white;
    position: absolute;
    margin-top: -150px;
    margin-left: 100px;
}
.s2{
    position: absolute;
    margin-top: -150px;
    margin-left: 1450px;
}